.landing {
  background: url('../../assets/images/ascent-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing h1 {
  font-family: 'Spectral';
  font-size: 48px;
}

.landing h2 {
  font-family: 'Spectral';
}


.btn-callToAction {
  background: rgba(0, 87, 4, 1);
  border: rgba(0, 87, 4, 1);
  background: #992F30;
  width: 125px;
  height: 50px;
  font-size: 18px;
}

.btn-callToAction:hover {
  background: rgba(0, 135, 7, 1);
  border: rgba(0, 135, 7, 1);
  background: red;
  border: red;
}

.btn-callToAction:active {
  background: rgba(0, 135, 7, 1);
  background: red;
  border: red;
  border: rgba(0, 135, 7, 1);
}