.profileBody {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.profile {
  background: url('../../assets/images/ascent-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 92vh; 
}

.profile h2 {
  text-align: center;
  padding-top: 15px;
  margin: 0 0 15px 0;
  font-family: 'Spectral';
}
