.profileBody {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.profile h2 {
  text-align: center;
  padding-top: 15px;
  margin: 0 0 15px 0;
  font-family: 'Spectral';
}

.loadingContainer {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}