.card-skill {
  margin: 15px 0;
  height: 100px;
  transition: 0.2s;
  box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
  color: black;
}

.card-body-skill a {
  text-decoration: none;
  color: black;
}

.card-title-skill {
  margin: 0;
  margin-bottom: 8px;
}

.card-text p {
  margin: 0;
}

