.btn-logTime {
  margin-left: auto;
  width: 150px;
  height: 50px;
  font-size: 18px;
  box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
  background: rgba(0, 26, 97, 1);
  border: rgba(0, 26, 97, 1);
  background: #072A40;
  border: #072A40;
}

.btn-logTime:hover, .btn-logTime:active, .btn-logTime:focus  {
  background: #0F5C8C;
  border: #0F5C8C;
}