.skillDetailPage {
  margin: 10px;
}

.skillDetailHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillDetailTotalMinutes {
  display: flex;
  width: 600px;
  border: solid black 3px;
}

.skillChart {
  border: solid black 3px;
  width: 800px;
  height: 400px;
}