.skillDetailPage {
  margin: 10px;
}

.skillDetailTotalMinutes {
  display: flex;
  width: 400px;
  border: solid black 3px;
}

.skillChart {
  border: solid black 3px;
  width: 80vw;
  height: 300px;
}