.skillDetailPage {
  margin: 10px;
}

.skillDetailHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.skillDetailHeader h3 {
  font-size: 48px;
}

.skillDetailTotalMinutes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 60px;
  border: solid black 3px;
  border-radius: 7px;
  margin-bottom: 10px;
  background: grey;
  color: white;
  font-size: 32px;
}

.skillChart {
  border: solid grey 1px;
  border-radius: 3px;
  width: 800px;
  height: 400px;
  box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.card-skill-detail {
  width: 600px;
  box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.btn-editSkill {
  box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}