.goalsList {
  width: 475px;
  height: 77vh;
  overflow: auto;
  padding: 15px;
  box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.goalsList h3 {
  margin: 0;
}

.goalsList h4 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}

.goalsListHeader {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .goalsListHeader button {
  height: 40px;
} */

.btn-addGoal {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  background: rgba(0, 87, 4, 1);
  border: rgba(0, 87, 4, 1);
  box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.btn-addGoal:hover {
  background: rgba(0, 135, 7, 1);
  border: rgba(0, 135, 7, 1);
}

.btn-addGoal:active {
  background: rgba(0, 135, 7, 1);
  border: rgba(0, 135, 7, 1);
}

.btn-addGoal p {
  font-size: 18px;
  transform: translate(-2px, -7px);
}

.goal-alert {
  text-align: center;
}