.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#login {
  margin-top: 100px;
  width: 300px;
  justify-content: center;
  align-items: center;
  border-style: none;
}

#login h2 {
  font-family: 'Spectral';
}

.register {
  margin-top: 100px;
  width: 300px;
}

.register h2 {
  font-family: 'Spectral';
}

.btn-auth {
  background: #072A40;
  border: #072A40;
}

.btn-auth:hover, .btn-auth:focus, .btn-auth:active {
  background: #0F5C8C;
  border: #0F5C8C;
}